@font-face {
    font-family: "Poppins";
    font-weight: 500;
    // font-display: swap;
    src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 700;
    // font-display: swap;
    src: url("../fonts/Poppins-Bold.ttf");
}